<nav class="navbar is-primary message is-warning message-header ">
  <div class="container">
    <div class="navbar-brand">
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <p class="navbar-item is-active"><%= link_to 'Account', root_path %></p>
        <p class="navbar-item is-active"><%= link_to 'About', about_index_path %></p>
        <p class="navbar-item is-active"><%= link_to 'Search', artworks_index_path %></p>
        <p class="navbar-item is-active"><%= link_to 'Inspirations', inspirations_index_path %></p>
        <p class="navbar-item is-active"><%= link_to 'Artworks', gallery_index_path %></p>
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);

    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>
<div class="tile is-parent message is-warning">
  <h1 class="title is-2">Navigate our products here through their inspiration category:</h1>
</div>
<div class="tile is-parent message is-warning">
  <ul class="ml-5">
    <% @inspirations.each do |inspiration| %>
      <li><%= link_to inspiration.name, inspiration %></li>
    <% end %>
  </ul>
</div>