<article class="message is-warning">
  <div class="message-header">
    <%= link_to 'Account', root_path %>
    <%= link_to 'About', about_index_path %>
    <%= link_to 'Search', artworks_index_path %>
    <%= link_to 'Inspirations', inspirations_index_path %>
    <%= link_to 'All Artworks', gallery_index_path %>
  </div>
</article>
<div class="tile is-parent message is-warning">
  <h1 class="title is-2">Navigate our products here through their inspiration category:</h1>
</div>
<div class="tile is-parent message is-warning">
  <ul class="ml-5">
    <% @inspirations.each do |inspiration| %>
      <li><%= link_to inspiration.name, inspiration %></li>
    <% end %>
  </ul>
</div>