<article class="message is-link">
<div class="message-header">
 <%= link_to 'Home', gallery_index_path %>
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Search', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
  <%= link_to 'All Artworks', gallery_index_path %>
</div>
</article>

<div class="tile is-parent message is-info">
  <article class="tile is-child notification is-info">
        <p>
  <%= link_to 'Back to all Inspirations', inspirations_path %>
</p>
    <h1 class="title is-2"><%= @inspiration.name %></h1>

    <a href=<%= @inspiration.wikipedia %>>Profile</a>
    <h1 class="title is-4"><%= @inspiration.year %></h1>


    <h3>Nationality: <%= @inspiration.nationality %></h3>

    <h3>Number of paintings we know of: <%= @inspiration.painting %></h3>


  </article>


  <article class="tile is-child notification is-info">
      <h1 class="title is-4"><%= @inspiration.name %> inspired the following of our products: </h1>
      <div>
      <ul class="ml-5">
        <% @queryyys.each do |a| %>
          <li><%= link_to a.title, a %></li>
        <% end %>
      </ul>
      </div>
  </article>
</div>

