<article class="message is-success">
<div class="message-header">
 <%= link_to 'Account', root_path %>
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Search', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
  <%= link_to 'All Artworks', gallery_index_path %>
</div>
</article>

<article class="message is-success">
  <div class="message-body">
    <% if current_user %>
      <p> You have sucessfully logged in as <%= current_user.email %>!</p>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete,
          form: {data: {turbo_confirm: 'Are you sure?'}} %>
    <% else %>
      <p>You are browsing our website as guest now</p>
      <%= link_to "Sign Up", new_user_registration_path %>
      <br />
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
    <br />
    <strong>Look for your favourite artwork here!</strong>
  </div>
</article>
<article class="message is-success">
  <div class="message-body">
    <form class="box">
      <div class="field">
        <%= search_form_for @q, remote: true do |f| %>
        <label class="label">Products</label>
        <div class="control">
          <%= f.search_field  :title_cont%>
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <%= f.select :inspiration_id_matches, options_from_collection_for_select(Inspiration.all, :id,:name,  @q.inspiration_id_matches), { :include_blank => true }, :class => "form-control" %>
        </div>
      </div>
    <%= f.submit %>
    <% end %>
    </form>
    <ul class="ml-4">
      <% @resu.each do |artwork| %>
        <li><%= link_to artwork.title, artwork %></li>
      <% end %>
    </ul>
  </div>
</article>


