<div class="message-header">
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Gallery', gallery_index_path %>
 <%= link_to 'Artwork', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-link">
          <%= link_to 'Wanna know more about this project？', about_index_path %>
            <figure class="image is-4by3">
              <%= image_tag "Reunion.jpg", height: 5 %>
            </figure>
        </article>

      </div>
        <article class="tile is-child message is-info">
          <p>----------------------------------------------------------------</p>
          <%= search_form_for @q, remote: true do |f| %>
            <p><%= f.label :title_cont, 'products:' %>
            <%= f.search_field :title_cont %>
            <%= f.submit %></p>
          <% end %>
        <ul class="ml-5">
        <p>------------------------------------------------------------</p>
        <p><strong>Search result:</strong> </p>
          <% @resu.each do |artwork| %>
          <li><%= link_to artwork.title, artwork %></li>
          <% end %>
        </ul>
        </article>
      <div class="tile is-parent message is-info">
        <article class="tile is-child notification is-info">
        <p class="title">Artworks</p>
          <figure class="image is-4by3">
            <%= image_tag "Moonlight.jpg", height: 5 %>
          </figure>
          <%=paginate @artworks%>
                  <ul class="ml-5">
          <% @artworks.each do |artwork| %>
            <li><%= link_to artwork.title, artwork %></li>
          <% end %>
        </ul>
        </article>
      </div>
    </div>

  </div>
  <div class="tile is-parent">
    <article class="tile is-child message is-info">

        <p class="title">My design</p>
        <%= image_tag "Phoenix.jpg", height: 5 %>




        </div>
      </div>
    </article>
  </div>
</div>


