<h1 class="title is-1"><%= @artwork.title %></h1>
<h3> <%= @artwork.brand %></h3>

<h3>Price:$<%= @artwork.price %></h3>
<h3>Genre: <%= @artwork.genre %></h3>
<h3>Brand: <%= @artwork.inspiration_name %></h3>
<h3>Bitcoin Address: <%= @artwork.bitcoin_address %></h3>


<p>
  <%= link_to 'Back to all artworks', artworks_path %>
</p>
