
<h3> <%= @artwork.brand %></h3>

<h3>Price: $<%= @artwork.price %></h3>
<h3>Genre: <%= @artwork.genre %></h3>
<h3>Inspiration: <%= @artwork.inspiration_name %></h3>
<h3>Bitcoin Address: <%= @artwork.bitcoin_address %></h3>

    <div class="card-image">
      <figure class="image is-4by3">
        <%= image_tag @artwork.image %>
      </figure>
    </div>

<p>
  <%= link_to 'Back to all artworks', artworks_path %>
</p>
