
<div class="column is-one-third tile is-child notification is-danger is-light">
  <div class="card horse">
    <div class="card-content">
        <p class="title is-5">
          <%= link_to gallery.title, gallery %>
        </p>
        <article>
          <div>
            <% if gallery.image.present? %>
              <div class="card-image">
                <figure class="image is-16by9">
                  <%= image_tag gallery.image %>
                </figure>
              </div>
            <% end %>
          </div>
        </article>
        <ul>
          <li>
            <strong>Price:</strong> <%= number_to_currency gallery.price %>
          </li>
        </ul>

        <%= link_to 'add to cart', add_to_cart_path(gallery.id), method: :get %>
        <%= button_to 'checkout', checkout_path(gallery), method: :get %>

        <%= button_to 'buy now', checkout_create_path, method: :post, params: {id: gallery.id}, remote: true %>
    </div>
  </div>
</div>
