<nav class="navbar is-primary message is-danger message-header ">
  <div class="container">
    <div class="navbar-brand">
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <p class="navbar-item is-active"><%= link_to 'Account', root_path %></p>
        <p class="navbar-item is-active"><%= link_to 'About', about_index_path %></p>
        <p class="navbar-item is-active"><%= link_to 'Search', artworks_index_path %></p>
        <p class="navbar-item is-active"><%= link_to 'Inspirations', inspirations_index_path %></p>
        <p class="navbar-item is-active"><%= link_to 'Artworks', gallery_index_path %></p>
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);

    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>

<div class="tile is-parent">
  <article class="tile is-child message is-danger box">
    <p>Welcome to Blair's World for the <%= pluralize @visit_count, 'time' %>  - See all the products below</p>

    <details>
      <summary><strong><%=flash[:notice] %> <%=flash[:warning] %></strong>Shopping Cart<%=flash[:empty] %></summary>
      <br>
      <ul>
        <% @cart.each do |artwork|%>
          <li>
            <%if @cart.include?(artwork)%>
              <%= artwork.title %>
              <%= button_to 'remove from cart', remove_from_cart_path(artwork), method: :delete %>
            <%else%>
              <p>not in your cart</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </details>
  </article>
</div>
<div class="tile is-parent box">
  <article class="tile is-child message is-danger box">
    <%=paginate @artworks%>
  </article>
</div>
<div class="tile is-parent">
  <%= render partial: 'gallery', collection: @artworks, locals: { show_link: true } %>
</div>