<div class="message-header">
 <%= link_to 'Home', gallery_index_path %>
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Artwork', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
</div>

<div class="tile is-parent message is-info">
        <article class="tile is-child notification is-info">
        <h1>Chat with us on Discord Server <%= link_to 'Blairs World', 'https://discord.gg/aNv2tScC ' %> and chat with our bot blairsworld#8274!</h1>
