
<div class="message-header">
 <%= link_to 'Home', gallery_index_path %>
 <%= link_to 'About', about_index_path %>
 <%= link_to 'Artwork', artworks_index_path %>
  <%= link_to 'Inspirations', inspirations_index_path %>
</div>


<ol class="ml-5">
  <% @about.each do |ab| %>
    <%= ab.subject %>
    <%= ab.content %>
  <% end %>
</ol>